<%- include('partials/header') -%>
  <div class="container ">

    <div class="row justify-content-center mt-5">
      <a class="btn btn-primary w-25" href="/profile">Return to Profile</a>
    </div>

    <div class="row justify-content-center mt-5">
      <h2 class="text-center mt-5 mb-0">Welcome to your feed!</h2>
      <ul class="row list-unstyled ">
        <% for(var i=0; i<posts.length; i++) {%>

          <!-- <li class="col-6 d-flex justify-content-center mt-5 align-items-center"> -->
          <li class="row d-flex justify-content-center mt-5 align-items-center text-center">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
              
            </a>
            
            <p class="fa fa-heart"><%= posts[i].likes%></p>
            
          </li>
        <% } %>
      </ul>
    </div>

    <div class="row justify-content-center mt-5 mb-5">
      <a class="btn btn-primary w-25" href="/profile">Return to Profile</a>
    </div>


  </div>  
<%- include('partials/footer') -%>