<%- include('partials/header') -%>

<section class="p-3 p-sm-4 p-lg-5">
  <div class="container-md">

    <!-- Return To Profile button -->
    <div class="row justify-content-center">
      <a class="btn btn-primary w-25" href="/profile">Return to Profile</a>
    </div>

    <!-- Feed Container -->
    <div class="col g-4 align-items-center">
      <h2 class="text-center mt-3 mb-0 text-light">Welcome to your feed!</h2>

      <% for(var i=0; i<posts.length; i++) {%>
      <div class="m-4 ">
        <div class="card bg-light ">

          <div class="card-body text-dark py-1 ">
            <!-- Post Title -->
            <h2 class="card-title my-1 text-center"><%= posts[i].title %></h2>
            <!-- UserName, Date and Time  -->

            <div class="d-flex justify-content-between text-center mt-0">
              <span class="text-capitalize fst-italic mx-1 fs-5">User:&nbsp; <%= posts[i].createdBy %> </span>
              <span class="text-capitalize fst-italic mx-1 fs-5 text-end "> <%= posts[i].createdAt.toLocaleDateString()%>, <%= posts[i].createdAt.toLocaleTimeString()%></span>
            </div>

            <!-- Post Image -->
            <a href="/post/<%= posts[i]._id%>" class="d-flex justify-content-center">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>

            <!-- Container for Username, like & comment count, and post time -->
            <div class="d-flex justify-content-center text-center mt-2"> 
              <span class="text-capitalize fst-italic mx-1 fs-5">User:&nbsp; <%= posts[i].createdBy %></span>
  
              <span class="col fa fa-heart  fs-5">&nbsp; <%= posts[i].likes%></span>
  
              <span class="col fa fa-comment fs-5">&nbsp; <%= posts[i].numOfComments%></span>

              <span class="text-capitalize fst-italic mx-1 fs-5 text-end ">&nbsp; <%= posts[i].createdAt.toLocaleDateString()%> @ <%= posts[i].createdAt.toLocaleTimeString()%></span>

            </div>

            <p class="card-text"></p>

          </div>

        </div>
      </div>
      <% } %>

    </div>
    <div class="row justify-content-center mt-5 mb-5">
      <a class="btn btn-primary w-25" href="/profile">Return to Profile</a>
    </div>


  </div>
</section>




<%- include('partials/footer') -%>