<%- include('partials/header') -%>

<section class="p-3 p-sm-4 p-lg-5">
  <div class="container-md">

    <!-- Return to feed & Profile buttons -->
    <div class="row justify-content-center mt-5">
      <a class="btn btn-primary w-25 mx-2" href="/profile">Return to Profile</a>
      <a class="btn btn-primary w-25 mx-2" href="/feed">Return to Feed</a>
    </div> 

    <!-- Post Container  -->
    <div class="col g-4 align-items-center mt-5">

      <!-- Card For Post -->
      <div class="m-4">
        <div class="card bg-light ">
          <div class="card-body text-dark py-1 text-center ">

            <!-- Post Title -->
            <h2 class="card-title my-1 text-center">
              <%= post.title %>
            </h2>

            <!-- UserName, Date and Time  -->
            <div class="d-flex justify-content-between text-center mt-0">
              <span class="text-capitalize fst-italic mx-1 fs-5">User:&nbsp; <%= post.createdBy %> </span>
              <span class="text-capitalize fst-italic mx-1 fs-5  ">&nbsp; <%= post.createdAt.toLocaleDateString()%> @ <%= post.createdAt.toLocaleTimeString()%></span>
            </div>

            <!-- Post Image -->
            <span class="d-flex justify-content-center">
              <img class="img-fluid " src="<%= post.image%>" alt="">
            </span>
  
            <!-- Container for Like button/form  -->
            <div class="d-flex justify-content-between text-center mt-2">

              <!-- LIke Button -->
              <form class="col-2" action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
                <button class="btn btn-primary fa fa-heart" type="submit"><%= post.likes %> </button>
              </form>
              
              <!-- & Edit & Delete Post Button (if logged in user's post) -->
                <%if(post.user == user.id){ %>

                <!-- Edit Post Button (opens modal, below) -->
                <div class="d-flex justify-content-center my-3">
                  <button class="btn btn-primary btn-lg fas fa-edit" data-bs-toggle="modal" data-bs-target="#editPost"></button>
                </div>

                <!-- Delete Post -->
                <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="col-2"> 
                  <button class="btn btn-danger fa fa-trash" type="submit"></button>
                </form>

                <%}%>
            </div>

            <!-- Div for caption -->
            <div>
              <p class="text-center h3"><%= post.caption %></p>
            </div>

          </div>
        </div>
      </div>
      <!-- End of Post Card -->

      <!-- Add Comment (open modal) -->
      <div class="d-flex justify-content-between m-4">
        <h2 class="card-title mb-1 text-center text-light">
          Comments:
        </h2>
        <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#addComment">Add Comment</button>
      </div>

      <!-- Card For  Comments -->
      <% for(var i=0; i<comments.length; i++) {%>
      <div class="m-4 ">
        <div class="card bg-light ">
          <div class="card-body text-dark py-1 ">

            <!-- Comment Div -->
            <div class="" id="commentDiv">
              <span>Comment by:</span> <span class="text-capitalize fst-italic"> <%= comments[i].createdBy%>, <%= comments[i].createdAt.toLocaleDateString()%> @ <%= comments[i].createdAt.toLocaleTimeString()%></span>
              <h5>"<%= comments[i].comment%>"</h5>
            </div>
  
            <!-- Likes (& deletes?) -->
            <div class="d-flex">
              <form class="" action="/comment/likeComment/<%= comments[i]._id %>?_method=PUT" method="POST">
                <button class="btn btn-primary fa fa-heart" type="submit"><%= comments[i].likes %></button>
              </form>
              <!-- delete function -->
              <%if(comments[i].createdById == user.id){ %>
                <form action="/comment/deleteComment/<%= comments[i]._id %>?_method=DELETE" method="POST" > 
                  <button class="btn btn-danger fa fa-trash" type="submit"></button>
                </form>
              <%}%>       
            </div>

          </div>

        </div>

      </div>
      <% } %>



    <!-- end of post card -->
    </div> 

  </div>
</section>


<!-- MODAL FOR COMMENT CREATION -->
<div class="modal fade" id="addComment" tabindex="-1" >
  <div class="modal-dialog">

    <div class="modal-content"> 
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      

      <div class="modal-body">

        <form action="/comment/createComment/<%=post._id%>" method="POST" class="" id="create-comment"> 
          <div class="mb-3">
            <label for="Comment" class="form-label">Comment</label>
            <input type="text" class="form-control" id="comment" name="comment">
          </div>

          <!-- <div class="mb-3">
            <label for="caption" class="form-label">Caption</label>
            <textarea class="form-control" id="caption" name="caption"></textarea>
          </div> -->

          <!-- <div class="mb-3">
            <label for="imgUpload" class="form-label">Image</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
          </div> -->
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        <button type="submit" class="btn btn-primary" value="Upload" form="create-comment">Submit</button>
      </div>

    </div>
  </div>
</div>


<!-- MODALITIES  -->

<!-- MODAL FOR POST EDIT-->
<div class="modal fade" id="editPost" tabindex="-1" >
  <div class="modal-dialog">

    <div class="modal-content"> 
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      

      <div class="modal-body">

        <form action="/post/editPost/<%= post.id %>?_method=PUT"   method="POST" class="" id="edit-post"> 
          <div class="mb-3">
            <label for="Title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="<%= post.title %>">
          </div>

          <div class="mb-3">
            <label for="Caption" class="form-label">Caption</label>
            <textarea class="form-control" id="caption" name="caption" placeholder="<%= post.caption %>"></textarea>
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        <button type="submit" class="btn btn-primary" value="Upload" form="edit-post">Submit</button>
      </div>

    </div>
  </div>
</div>


<%- include('partials/footer') -%>