<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <a class="btn btn-primary w-25 me-1" href="/profile">Return to Profile</a>
    
    <a class="btn btn-primary w-25 ms-1" href="/feed">Return to Feed</a>
  </div>
  
  <div class="row justify-content-center mt-5">
    
    <div class="col-6">
      <h2 class="text-center"><%= post.title %></h2>
      <img class="img-fluid" src="<%= post.image%>" />

      <div class="row justify-content-between">
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
        <button class="btn btn-primary fa fa-heart" type="submit"><%= post.likes %> </button>
        </form>
        
        <%if(post.user == user.id){ %> <!-- Does person who made post = person logged in? Is it the users post? If so, display trash-->
        <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="col-3"> 
          <!-----in the action we are appending the _method=DELETE for METHOD OVERRIDE (same for put)-->
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>

        <p class="text-center"><%= post.caption %></p>
        
      </div>
    </div>
    <!-- <div class="col-3 mt-5">
      <p><%= post.caption %></p>
    </div> -->


    <div class="mt-5">
      <h2>Add a Comment</h2>
      <form action="/comment/createComment/<%=post._id%>" method="POST"> 
        <div class="mb-3">
            <label for="Comment" class="form-label">Comment</label>
            <input type="text" class="form-control" id="comment" name="comment">
        </div>
        <button type="submit" class="btn btn-primary" >Submit</button>
      </form>
    </div>

    <ul>
      <!--TODO Add: username and delete button -->
      <% for(var i=0; i<comments.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
          <span>Comment by:</span> <span class="text-capitalize fst-italic"> <%= comments[i].createdBy%></span>
          <h5>"<%= comments[i].comment%>"</h5>
         

          <!-- adding comment likes -->
          <form class="col-1" action="/comment/likeComment/<%= comments[i]._id %>?_method=PUT" method="POST">
            <button class="btn btn-primary fa fa-heart" type="submit"><%= comments[i].likes %></button>
          </form>
          
          <!-- adding comment likes above -->

          <!-- adding comment deletes below -->
          <%if(comments[i].createdById == user.id){ %>
          <form action="/comment/deleteComment/<%= comments[i]._id %>?_method=DELETE" method="POST" > 
            <button class="btn btn-outline-danger" type="submit">Delete</button>
          </form>
          <%}%>
          <!-- adding comment deletes above -->
        </li>
      <% } %>
    </ul>
    
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
