<%- include('partials/header') -%>
<div class="container ">

  <div class="row justify-content-center mt-5">
    <a class="btn btn-primary w-25" href="/feed">Return to Feed</a>
  </div> 
  
  <div class="row justify-content-center mt-3">

    <div class="col-9">

      <div class="row justify-content-center mt-5 text-center">
          <p class="text-capitalize "><strong>User Name</strong>: <%= user.userName %></p>
          <p><strong>Email</strong>: <%= user.email %></p>
          <a href="/logout" class="col-3 btn btn-primary">Logout</a>
      </div>

      <div class="mt-5 mb-5 ">
        <h2 class="text-center mt-5 mb-0">Add a post</h2>

        <form action="/post/createPost" enctype="multipart/form-data" method="POST" class=""> <!---enctype is for multer to work-->
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title">
          </div>

          <div class="mb-3">
            <label for="caption" class="form-label">Caption</label>
            <textarea class="form-control" id="caption" name="caption"></textarea>
          </div>

          <div class="mb-3">
            <label for="imgUpload" class="form-label">Image</label>
            <input type="file" class="form-control" id="imageUpload" name="file">
          </div>

          <div class="mb-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary m-auto" value="Upload">Submit</button>
          </div>
        </form>
      </div>

    
        
      <h3 class="text-center mt-5 mb-0 ">My Posts</h3>

      <ul class="row list-unstyled">
      <% for(var i=0; i<posts.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
          <a href="/post/<%= posts[i]._id%>">
            <img class="img-fluid align-middle" src="<%= posts[i].image%>">
          </a>
        </li>
      <% } %>
      </ul>

      <div class="row justify-content-center mt-5">
        <a class="btn btn-primary w-25" href="/feed">Return to Feed</a>
      </div>  

    </div>  
  </div>
</div>
<%- include('partials/footer') -%>