<%- include('partials/headerProfile') -%>

<!-- Top Section With user Info -->
<section class=" pt-5 pb-0 p-3 pt-sm-4 bg-black bg-opacity-75 ">
  <div class="container-md pt-4 ">

    <!-- DIV FOR PROFILE TOP -->
    <div class="row" id="topDiv">
      <!-- Return To feed & Logout button -->
      <!-- <div class="row justify-content-center mt-5">
            <a class="btn btn-primary w-25 mx-2" href="/feed">Return to Feed</a>
            <a href="/logout" class="col-3 btn btn-primary mx-2">Logout</a>
          </div>  -->

      <!-- User Info and Logout -->
      <div class="row justify-content-center mt-2 mt-sm-4 text-center text-light" id="topDiv">
        <h2 class="text-center m-1 mt-4 text-light" id="topH2">Welcome to your Profile, <strong class="text-capitalize"><%= user.userName %>!</strong></h2>
        <!-- <p class="text-capitalize pt-2"><strong>User Name</strong>: <%= user.userName %></p> -->
        <p class="mt-1"><strong>Email</strong>: <%= user.email %></p>
          <!-- <a href="/logout" class="col-3 btn btn-primary">Logout</a> -->
      </div>

      <!-- Create Post Button (opens modal) -->
      <div class="d-flex justify-content-center mt-3 mb-0">
        <button class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#createPost">Create Post</button>
        
        <button class="btn btn-warning btn-lg ms-2"><a class="text-decoration-none text-black" href="/feed">Visit Feed</a></button>
      </div>                  
    </div>

  </div>
</section>

<!-- Section for Post data -->
<section class=" p-2 p-lg-1 bg-black bg-opacity-75">
  <div class="container-md text-center ">
    
    <!-- "Your Posts" Container -->
    <div class=" g-4 align-items-center mt-4">
      <h3 class="text-center mt-1 mb-0 text-light">My Posts</h3>
      
      <!-- Conditional for counting posts -->
      <%if(posts.length > 0 ){ %>   
        <h4 class="text-center fst-italic mt-2 mb-0 text-light ">You have <%= posts.length %> Posts </h4>
        <%} else { %> 

        <h4 class="text-center fst-italic mt-2 mb-3 text-light">You have <%= posts.length %> Posts, share something! </h4>  
        <div class="col-md d-flex justify-content-center">
         <img class="img-fluid d-sm-block my-5 w-25 " src="/imgs/no-post.svg" alt="">
        </div>
      <% } %>
    </div>
  </div>
</section>

<!-- Section for Posts and Cards -->
<section class=" p-3 p-sm-5 p-lg-5 bg-black bg-opacity-75 ">
  <div class="container-md ">
    <div class="row text-center g-4">

      <div class="col mt-1">
        
        <!-- CARDS FOR POSTS -->
        <% for(var i=0; i<posts.length; i++) {%>
          
          <div class="m-4 card-group ">
            
            <div class="card bg-dark text-light text-center border-warning rounded-4 border-3 bg-opacity-75 mb-md-5 mb-3">
    
              <!-- Card Header -->
              <div class="card-header  justify-content-between text-center align-items-center">
                <!-- Post Title -->
                <h2 class="card-title mt-1 mb-0 text-center" id="post-title"><%= posts[i].title %></h2>
                <!-- Date and Time  -->
                <span class="text-capitalize fst-italic mx-1 mt-3 fs-6 "> <%= posts[i].createdAt.toLocaleDateString()%>, <%= posts[i].createdAt.toLocaleTimeString()%></span>
              </div>
    
              <div class="card-body text-dark py-1 ">
                <!-- Post Image -->
                <a href="/post/<%= posts[i]._id%>" class="d-flex justify-content-center">
                  <img class="img-fluid" src="<%= posts[i].image%>">
                </a>
    
              </div>
    
              <!-- Card Footer -->
              <div class="card-footer">
                <!-- Container like & comment count, Delete -->
                <div class="d-flex justify-content-between align-items-center text-center mt-2"> 
    
                  <span class="col fa fa-heart  fs-5">&nbsp;<%= posts[i].likes%></span>
    
                  <span class="col fa fa-comment  fs-5">&nbsp; <%= posts[i].numOfComments%></span>
    
                  <form action="/post/deletePost/<%= posts[i].id %>?_method=DELETE" method="POST" class="d-inline "> 
                    <button class="btn btn-warning fa fa-trash" type="submit"></button>
                  </form>
                </div> 
              </div>
    
            </div>
          </div>
          <% } %>
      </div>
    </div>


  </div>

</section>

<!-- Bottom Section for Buttons -->
<section class="p-3 p-lg-5 bg-black bg-opacity-75">
  <div class="container-md  ">

    <!-- Return To Top and Feed Buttons -->
    <div class="row justify-content-center mt-1">
      <a class="btn btn-warning btn-lg w-25" href="#topDiv">Back to Top</a>
      
    </div>

    <div class="row justify-content-center mt-3">
      <!-- <a class="btn btn-warning w-25" href="/feed">Return to Feed</a> -->
      <button class="btn btn-warning btn-lg w-25 m-2"><a class="text-decoration-none text-black" href="/feed">Visit Feed</a></button>
    </div>
  </div>

</section>


 





<!-- MODAL FOR POST CREATION -->
<div class="modal fade" id="createPost" tabindex="-1" >
    <div class="modal-dialog">

      <div class="modal-content"> 
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        

        <div class="modal-body">

          <form action="/post/createPost" enctype="multipart/form-data" method="POST" class="" id="create-post"> <!---enctype is for multer to work-->
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title">
            </div>
  
            <div class="mb-3">
              <label for="caption" class="form-label">Caption</label>
              <textarea class="form-control" id="caption" name="caption"></textarea>
            </div>
  
            <div class="mb-3">
              <label for="imgUpload" class="form-label">Image</label>
              <input type="file" class="form-control" id="imageUpload" name="file">
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

          <button type="submit" class="btn btn-primary" value="Upload" form="create-post">Submit</button>
        </div>

      </div>
    </div>
</div>





<%- include('partials/footer') -%>